.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-title {
  margin-top: 0;
}

.App-header {
  background: linear-gradient(180deg, rgba(47,41,65,1) 0%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
.ParametersCard {
  background: #141416;
  font-size: calc(4px + 2vmin);
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
