[package]
name = "gravity-info-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ethereum_gravity = {git = "https://github.com/gravity-bridge/gravity-bridge", rev="ea35ec51aa921f60bb0911bd5482f12a438241e0"}
cosmos_gravity = {git = "https://github.com/gravity-bridge/gravity-bridge", rev="ea35ec51aa921f60bb0911bd5482f12a438241e0"}
gravity_utils = {git = "https://github.com/gravity-bridge/gravity-bridge", rev="ea35ec51aa921f60bb0911bd5482f12a438241e0"}
gravity_proto = {git = "https://github.com/gravity-bridge/gravity-bridge", rev="ea35ec51aa921f60bb0911bd5482f12a438241e0"}
deep_space = "2"
web30 = "0.22"
clarity = "0.5"
serde_derive = "1"
serde = { version = "1.0", features = ["derive"] }
env_logger = "0.9"
log = "0.4"
actix-web = {version = "4.2", features = ["rustls"]}
actix-cors = "0.6"
rustls = "0.20"
rustls-pemfile = "0.3"
lazy_static = "1.4"
tonic = "0.7"
futures = "0.3"
num256 = "0.3"
openssl-probe = "0.1"
tokio = {version="1", features=["rt-multi-thread"]}
cosmos-sdk-proto-althea = "0.13"
sha256 = "1"
prost-types ="0.10"
rocksdb = "0.20.1"
actix-rt = "2.5.0"
serde_json = "1.0"
json = "0.12.4"
hex = "0.4"


[features]
development = []